<div class="page" ng-controller="productsCtrl">
	<form role="form" class="formFadeIn" ng-hide="productEditMode == true">

		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm "></span>
					Product's List</strong>
				<button type="button" class="btn btn-primary pull-right input-sm"
					tooltip-placement="left" tooltip="Create New Product"
					style="margin-top: -3px; height: 25px; margin-right: -8px; width: 60px"
					ng-click="addProduct()">
					<span class="glyphicon glyphicon-plus" style="top: -2px"></span>
				</button>
			</div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span class="input-sm"> Showing
							{{filteredProducts.length}}/{{products.length}} entries </span>
					</div>
				</div>
			</div>

			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">
								# <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('count') "
									data-ng-class="{active: row == 'count'}"></span> <span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-count') "
									data-ng-class="{active: row == '-count'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Product Code <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('productCode') "
									data-ng-class="{active: row == 'productCode'}"></span> <span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-productCode') "
									data-ng-class="{active: row == '-productCode'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Product Name <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('productName') "
									data-ng-class="{active: row == 'productName'}"></span> <span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-productName') "
									data-ng-class="{active: row == '-productName'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								Merchant <span class="glyphicon glyphicon-chevron-up"
									data-ng-click=" order('merchantName') "
									data-ng-class="{active: row == 'merchantName'}"></span> <span
									class="glyphicon glyphicon-chevron-down"
									data-ng-click=" order('-merchantName') "
									data-ng-class="{active: row == '-merchantName'}"></span>
							</div>
						</th>
						<th style="width: 60px"></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="product in currentPageProducts">
						<td>{{product.count}}</td>
						<td>{{product.productCode}}</td>
						<td>{{product.productName}}</td>
						<td>{{product.merchantName}}</td>
						<td style="padding: 1px;">
							<button type="button" class="btn btn-success"
								tooltip-placement="top" tooltip="Modify {{product.productName}}"
								style="height: 25px; width: 60px;" ng-click="editProduct(product)">
								<span class="glyphicon glyphicon-pencil" style="top: -2px;"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer input-sm">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span> Show <select data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()">
						</select> entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm" page="currentPage"
							total-items="filteredProducts.length" max-size="4"
							on-select-page="select(page)" items-per-page="numPerPage"
							rotate="false" boundary-links="true"></pagination>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="productEditMode == false">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					{{header}}</strong>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="inpProductCode" class="col-sm-2 control-label input-sm">Product Code</label>

					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" id="inpProductCode" maxlength="4"
						ng-disabled="isExisting"	placeholder="Product Code" ng-model="productCode">
					</div>
				</div>
				<div class="form-group">
					<label for="inpProductName" class="col-sm-2 control-label input-sm">Product Name</label>

					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" id="inpProductName" maxlength="50"
							placeholder="Product Name" ng-model="productName">
					</div>
				</div>
				<div class="form-group">
					<label for="inpProductName" class="col-sm-2 control-label input-sm">Merchant</label>

					<div class="col-sm-10">
						<select style="width: 100%" ui-select2="" ng-model="merchantSelect"
							id="merchantSelect">
							<option data-ng-repeat="merchant in merchants"
								ng-selected="{{merchant.merchantId}}" value="{{merchant.merchantId}}">{{merchant.merchantName}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="active" class="col-sm-2 control-label input-sm">Active</label>

					<div class="col-sm-10">
						<label> <input type="checkbox" id="active"
							ng-model="active" style="margin-top: 10px">
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success input-sm"
							style="width: 100px" ng-click="updProduct()">
							<span class="glyphicon glyphicon-ok"> Save </span>
						</button>
						<button type="button" class="btn btn-warning input-sm"
							style="width: 100px" ng-click="calcelProduct()">
							<span class="glyphicon glyphicon-remove"> Cancel </span>
						</button>
					</div>
				</div>
			</div>
		</section>
	</form>
</div>