<div class="page" ng-controller="fileuploadCtrl">
	<form role="form" class="form-horizontal formFadeIn" ng-hide="true">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> File
					Upload</strong>

			</div>
			<div class="panel-body">
				<div class="form-inline col-sm-12 noPadding">
					<div class="form-group col-sm-6 noPadding"
						style="padding-right: 1px">
						<label for="programmeSelect"
							class="col-sm-4 control-label input-sm"
							style="text-align: right;">Select File Type</label>

						<div class="col-sm-8 noPadding">
							<select style="width: 100%" ui-select2="" ng-model="typeSelect"
								 id="typeSelect">
								<option data-ng-repeat="type in fileTypes"
									ng-selected="{{type.id}}" value="{{type.iId}}">{{type.fTypeName}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>

	<section class="panel panel-default" ng-show="true">
		<div class="panel-heading input-sm">
			<strong><span class="glyphicon glyphicon-th"></span> Update
				Card Holder Details</strong>
		</div>
		<div class="panel-body">
			<!--Start File Upload-->
			<b>Please select Excel File Format</b> <br></br>

			<form class="form-horizontal formFadeIn"
				ng-submit="uploadBeneficiaryDetails()">
				<fieldset>
					<div class="form-group">
						<label for="uploadfile" class="col-sm-2 control-label">File:
						</label>
						<div class="col-sm-10">
							<input type="file" title="Select File" id="uploadfile"
								file-model="myFile" data-ui-file-upload class="btn-primary"
								accept=".application/vnd.sealed-xls,.xlsx" required="true">
						</div>
					</div>

					<div class="form-group"></div>
					<div class="form-group">
						<label for="uploadfile" class="col-sm-2 control-label"> </label>
						<div class="col-sm-10">
							<button type="submit" class="btn btn-success">Upload</button>
						</div>
						<!--<button type="button" class="btn btn-primary btn-lg btn-block"	ng-click="Login(UserName,Password)">Log in</button>-->
					</div>
				</fieldset>
			</form>
			<!--End File Upload-->

		</div>
	</section>
	
</div>
