<div class="col-sm-12" style="padding-left: 0">
	<div class="col-sm-4 text-left" style="margin-top: -4px; padding-left: 0">
		<a href="http://www.compulynx.org/"><img src="images/CLL20px.png"
			alt="" class="img20"></a>
	</div>
	<div class="col-sm-4 text-center">
		An innovation by <a href="http://www.compulynx.org/"
			style="color: #737973">Compulynx&copy; Ltd</a>
	</div>
	<!-- <div class="col-sm-4 text-right">Version {{main.scriptVersion}}</div> -->
	<div class="col-sm-4 text-right" style="margin-top: -4px; padding-left: 0">
	
			</div>
</div>